<div class="list_buttons">
  <%= button_to "Edit", edit_list_path(@list), method: 'get', class: "btn " %>
  <%= button_to "Delete", list_path(@list), method: 'delete', class: "btn  red" %>
  <%= link_to "Create New Task", new_task_path(list_id: @list), class: "btn yellow" %>
</div>
<div class="container">
  <h1 class="center-align"><%= @list.title %></h1>
  <h2 class="center-align black"><%= link_to "Back to All Lists", lists_path %></h2>
  <div class="filter_buttons">
    <h3>Filter Buttons</h3>
    <button type="button" class="btn grey toggle_all_tasks" name="button">All Tasks</button>
    <button type="button" class="btn grey toggle_completed_tasks" name="button">Completed Tasks</button>
    <button type="button" class="btn grey toggle_incompleted_tasks" name="button">Incompleted Tasks</button>
    <button type="button" class="btn grey toggle_future_tasks" name="button">Future Tasks</button>
  </div>
  <div class="sort_buttons">
    <h3>Sort Buttons</h3>
    <button type="button" class="btn grey lighten-2 sort_title" name="button">Title</button>
    <button type="button" class="btn grey lighten-2 sort_status" name="button">Status</button>
    <button type="button" class="btn grey lighten-2 sort_due_date" name="button">Due Date</button>
    <button type="button" class="btn grey lighten-2 sort_start_date" name="button">Start Date</button>
  </div>
  <h3>List Description: <%= @list.description %></h3>
  <table class="hoverable">
    <thead>
      <tr>
        <td>Title</td>
        <td>Notes</td>
        <td>Start Date</td>
        <td>Due Date</td>
        <td>Status</td>
        <td>Change Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody class="task_list">
      <% @tasks.each do |task| %>
        <% if task.default_filter? %>
          <tr class="hidden" data-id="<%= task.id %>" data-status="<%= task.status %>" data-not-future-task="<%= task.not_in_the_future? %>">
            <td><%= link_to task.title, edit_task_path(task, list_id: @list) %></td>
            <td><%= task.notes %></td>
            <td><%= task.start_date %></td>
            <td><%= task.due_date %></td>
            <td><%= task.completion_status %></td>
            <td><button type="button" class="btn yellow darken-2 task_complete" name="button">Mark Incomplete</button></td>
            <td><%= image_tag task.attachment.url(:micro) %><%= link_to "Delete Attachment", delete_attachment_path( id: task.id), method: "delete" %></td>
          </tr>
        <% else %>
          <tr data-id="<%= task.id %>" data-status="<%= task.status %>" data-not-future-task="<%= task.not_in_the_future? %>">
            <td><%= link_to task.title, edit_task_path(task, list_id: @list) %></td>
            <td><%= task.notes %></td>
            <td><%= task.start_date %></td>
            <td><%= task.due_date %></td>
            <td><%= task.completion_status %></td>
            <td><button type="button" class="btn green task_complete" name="button">Mark Complete</button></td>
            <td><%= image_tag task.attachment.url(:micro) %><%= link_to "Delete Attachment", delete_attachment_path( id: task.id), method: "delete" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
